.product-card {
  cursor: pointer;
  margin: 10px 0;
  transition: all .2s linear;

  .product-card-img {
    height: 200px;
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 0 -16px 16px;
    img {
      margin-top: 0;
      align-self: center;
    }
  }
  .product-card-content {
    overflow: hidden;
    height: 33px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, .2);
  }
}
